{% extends 'layouts/base.twig' %}

{% block main_content %}
<h2>About {{ product.title }}</h2>
    <ul style="list-style: none;">
        <li>
            <label>Id: </label> {{ product.id }}
        </li>
        <li>
            <label>Title: </label> {{ product.title }}
        </li>
        <li>
            <label>URL Slug:</label> {{ product.slug }}
        </li>
        <li>
            <label>Price: $</label> {{ product.price }}
        </li>
        <li>
            <label>Product Description:</label><br />
            <p style="max-width: 450px;"><em>{{ product.description|raw }}</em></p>
        </li>
        <li>
            <label>The Product is Published:</label> {{ product.is_published }}
        </li>
    </ul>
    <p>
        -- 
        <a href="/products/{{ product.id }}/edit">Edit</a> | <a href="/products/{{ product.id }}/delete">Delete</a>
         --
    </p>
{% endblock %}